@tailwind base;
@tailwind components;
@tailwind utilities;

.primary-color {
  color: #0c7199;
}
.secondary-color {
  color: #05465f;
}

.bg-primary {
  background-color: radial-gradient(at center bottom, #131f2f, #121111);
}

html {
  background: radial-gradient(at center bottom, #0a1018, #121111);
}

.gradient__bg {
  background: radial-gradient(
    rgba(18, 30, 46, 0.137),
    rgba(18, 30, 46, 0.557),
    rgba(0, 0, 0, 0.875),
    rgb(0, 0, 0)
  );
}

.gradient__bgs {
  --size: 250px;
  --speed: 50s;
  --easing: cubic-bezier(0.8, 0.2, 0.2, 0.8);

  width: var(--size);
  height: var(--size);
  filter: blur(calc(var(--size) / 5));
  background-image: linear-gradient(
    #0c7199,
    #f1f1f1,
    #c1e4f1,
    #ffffff,
    #05465f
  );
  animation: rotate var(--speed) var(--easing) alternate infinite;
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
}

.bg__gradient-2 {
  background: #f8f8f8;
  background: linear-gradient(72deg, #f9feff 0, #fcfbfb 58%);
}
